.app-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.app-heading{
    font-size: 30px;
    margin: 30px;
}
.app-insert-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.app-input, .app-insert-button{
    width: 200px;
    height: 30px;
    font-size: 20px;
}

.app-label, .app-input, .app-insert-button{
    margin: 10px;  
}