.task-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        ". . controls controls"
        "info info info info"
        "edit edit edit edit";
}

.task-card{
    border: 2px solid black;
    margin: 10px 15%;
    border-radius: 5px;
}

.task-info{
    grid-area: info;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 30px;
    margin: 10px;
}

.task-controls{
    grid-area: controls;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.task-controls>button{
    margin: 5px;
    line-height: 30px;
}

.task-edit{
    grid-area: edit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.task-edit-hidden{
    display: none;
}

.task-complete{
    text-decoration: line-through;
}