.task-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        ". . . controls"
        "info info info info"
        "edit edit edit edit";
    
    border: 2px solid white;
    margin: 10px 15%;
    border-radius: 5px;
}

.task-info{
    grid-area: info;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1rem;
    margin: 10px;
}

.task-controls{
    grid-area: controls;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.task-controls> *{
    margin: 5px;
    font-size: .8rem;
}

.task-controls-edit{
    color: rgb(87, 199, 233);
}
.task-controls-complete{
    color: rgb(86, 243, 86);
}
.task-controls-delete{
    color: red;
}

.task-edit{
    grid-area: edit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.task-edit-hidden{
    display: none;
}

.task-complete{
    text-decoration: line-through;
}